*{
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:#fefdf9
}
.header-start{
    display:flex;
    justify-content: space-between;
}
.logo{
    padding-top:60px;
    padding-left:100px;
}
nav{
    margin-top:80px;
    margin-right:100px;
}

ul, li{
    display:inline-block;
    list-style-type: none;
}

ul, li, a{
    padding-right:17px;
    text-decoration:none;
    font-weight:400;
    color:#c0bfc4
}

.image-decription{
    margin-top:40px;
    margin-left:100px;
}

.section-decription{
    display:flex;
}

.aside-section{
    background-color:#00001a;
    width:23%;
    height:64vh;
    color:white;
    margin-left:15px;
    margin-top:40px;
    padding:15px;
}

.new{
    color:#e9a85a;
    padding-left:15px;
    padding-top:20px;
}

.new-sub{
    padding-top:30px;
    padding-left:15px;
    }

    .new-sub1{
        padding-left:15px;
        padding-top:10px;
        color:#4d4e5f;
        font-weight:lighter;
    }
    hr{
        margin-top:20px;
        margin-right:1000%;
        width:85%;
        margin-right:20px;
        outline:none ;
        background-color:#282842;
        border:1px unset #282842;
        border-bottom: none;
        color:#282842;
    }

    .main-description{
        width:55%;
        display:flex;
        margin-left:100px;
        position:relative;
        bottom:120px;
    }


.main-sect{
    margin-left:27px;
    margin-top:20px;
    color:#b1aeb7;
    word-spacing: 2px;
}
.main-sec{
    width:180%;
}
.main-name{
    font-size:50px;
    font-weight:bold;
    width:70%;
}

.btn-1{
    margin-top:30px;
}
button{
    width:50%;
    padding:10px;
    letter-spacing:3px;
    background-color:#f15d52;
    outline:none;
    border:none;
    color:white;
}


.product{
    display:flex;
    margin-left:110px;

}

.product-image{
    display:flex;
    width:30%;
    
}


.num{
 margin-left:0px;
 color:#c7c6cd;
}


.rev{
    position:relative;
    min-width:80%;
    top:40px;
    right:9%;

}
.rev-descr{
    position:relative;
    top:100px;
    right:87%;
    min-width:60%;
    font-size:14px;
}